[Unit]
Description=LNLS Controls Group HAProxy service
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose -f /etc/systemd/system/lnls-haproxy.service.d/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose  -f /etc/systemd/system/lnls-haproxy.service.d/docker-compose.yml down

[Install]
WantedBy=multi-user.target
